<footer id="footer">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-6">
                <div class="footer-widget">
                    <img src="/img/logo.png" alt="Geek Review" style="width: 140px;">
                    <p>Geek Review é um site que fornece análises curtas e abrangentes de filmes, jogos, animes e outras mídias da cultura geek. Seu objetivo é oferecer uma visão apaixonada e (im)parcial dos últimos lançamentos e tendências na ficção científica, fantasia e cultura pop para entusiastas geeks e nerds.</p>
                    <ul class="contact-social">
                        <li><a href="#" class="social-facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="social-twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="social-google-plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="social-instagram"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-widget">
                    <h3 class="footer-title">Categorias</h3>
                    <div class="category-widget">
                        <ul>
                            <li><a href="category-games.html">Jogos <span>68</span></a></li>
                            <li><a href="category-movies&series.html">Filmes & Séries<span>57</span></a></li>
                            <li><a href="category-animes&mangas.html">Animes & Mangás<span>66</span></a></li>
                            <li><a href="category-books&hqs.html">Livros & HQ's<span>35</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-title">Tags</h3>
                    <div class="tags-widget">
                        <ul>
                            <li><a href="#">Jogos</a></li>
                            <li><a href="#">Crepúsculo</a></li>
                            <li><a href="#">Jujutsu Kaisen</a></li>
                            <li><a href="#">Ace Attorney</a></li>
                            <li><a href="#">Disney</a></li>
                            <li><a href="#">Satoru Gojo / 2</a></li>
                            <li><a href="#">Gege Akutami</a></li>
                            <li><a href="#">After</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="footer-bottom row">
            <div class="col-md-6 col-md-push-6">
                <ul class="footer-nav">
                    <li><a href="index.html">Início</a></li>
                    <li><a href="about.html">Sobre</a></li>
                    <li><a href="forms.html">Avalie-nos</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <div class="footer-copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</footer>