<!-- HEADER -->
<header id="header">
    <!-- NAV -->
    <div id="nav">
        <!-- Top Nav -->
        <div id="nav-top">
            <div class="container">
                <!-- social -->
                <ul class="nav-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <!-- /social -->

                <!-- logo -->
                <div class="nav-logo">
                    <a href="index.html" class="logo"><img src="./img/logo.png" alt=""></a>
                </div>
                <!-- /logo -->

                <!-- search & aside toggle -->
                <div class="nav-btns">
                    <button class="aside-btn"><i class="fa fa-bars"></i></button>
                    
                </div>
                <!-- /search & aside toggle -->
                
            </div>
        </div>
        <!-- /Top Nav -->

        <!-- Main Nav -->
        <div id="nav-bottom">
            <div class="container">
                <!-- nav -->
                <ul class="nav-menu">
                    <li>
                        <a href="index.html">Início</a>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">Categorias</a>
                        <div class="dropdown">
                            <div class="dropdown-body">
                                <ul class="dropdown-list">
                                    <li><a href="category-games.html" style="color: #4D2DB7; font-weight: bold;">Jogos</a></li>
                                    <li><a href="category-movies&series.html" style="color: #4D2DB7; font-weight: bold;">Filmes & Séries</a></li>
                                    <li><a href="category-animes&mangas.html" style="color: #4D2DB7; font-weight: bold;">Animes & Mangás</a></li>
                                    <li><a href="category-books&HQs.html" style="color: #4D2DB7; font-weight: bold;">Livros e HQ's</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="./about.html">Sobre</a></li>
                    <li><a href="./forms.html">Avalie-nos</a></li>
                </ul>
                <!-- /nav -->
            </div>
        </div>
        <!-- /Main Nav -->

        <!-- Aside Nav -->
        <div id="nav-aside">
            <ul class="nav-aside-menu">
                <li><a href="index.html">Início</a></li>
                <li class="has-dropdown"><a>Categorias</a>
                    <ul class="dropdown">
                        <li><a href="category-games.html">Jogos</a></li>
                        <li><a href="category-movies&series.html">Filmes & Séries</a></li>
                        <li><a href="category-animes&mangas.html">Animes & Mangás</a></li>
                        <li><a href="category-books&HQs.html">Livros e HQ's</a></li>
                    </ul>
                </li>
                <li><a href="about.html">Sobre</a></li>
                <li><a href="forms.html">Formulário</a></li>
            </ul>
            <button class="nav-close nav-aside-close"><span></span></button>
        </div>
        <!-- /Aside Nav -->
    </div>
    <!-- /HEADER -->
</header>