<!-- HEADER -->
<header id="header">
    <!-- NAV -->
    <div id="nav">
        <!-- Top Nav -->
        <div id="nav-top">
            <div class="container">
                <!-- social -->
                <ul class="nav-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <!-- /social -->

                <!-- logo -->
                <div class="nav-logo">
                    <a href="index.html" class="logo"><img src="./img/logo.png" alt=""></a>
                </div>
                <!-- /logo -->

                <!-- search & aside toggle -->
                <div class="nav-btns">
                    <button class="aside-btn"><i class="fa fa-bars"></i></button>
                    <button class="search-btn"><i class="fa fa-search"></i></button>
                    <div id="nav-search">
                        <form>
                            <input class="input" name="search" placeholder="Enter your search...">
                        </form>
                        <button class="nav-close search-close">
                            <span></span>
                        </button>
                    </div>
                </div>
                <!-- /search & aside toggle -->
            </div>
        </div>
        <!-- /Top Nav -->

        <!-- Main Nav -->
        <div id="nav-bottom">
            <div class="container">
                <!-- nav -->
                <ul class="nav-menu">
                    <li class="has-dropdown">
                        <a href="index.html">Início</a>
                        <div class="dropdown">
                            <div class="dropdown-body">
                                <ul class="dropdown-list">
                                    <li><a href="./category.html">Página de categorias</a></li>
                                    <li><a href="./author.html">Reviews recentes</a></li>
                                    <li><a href="./about.html">Sobre</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="has-dropdown megamenu">
                        <a href="">Categorias</a>
                        <div class="dropdown tab-dropdown">
                            <div class="row">
                                <div class="col-md-2">
                                    <ul class="tab-nav">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab1">Jogos</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#tab2">Filmes</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#tab3">Séries</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#tab4">Animes e Mangás</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#tab5">HQs</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#tab6">Livros</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-10">
                                    <div class="dropdown-body tab-content">
                                        <!-- tab1 -->
                                        <div id="tab1" class="tab-pane fade in active">
                                            <div class="row">
                                                <index-category-post
                                                    data-post='{"type":"post","link":"./blog-aceattorney.html","image": "./img/aceattorneycase1.png", "date": "31 Outubro 2023", "title": "Phoenix Wright: Ace Attorney - The First Turnabout Review"}'
                                                    data-author='{"type": "author", "link": "./author.html", "name": "Maria Luíza"}'
                                                    data-category='{"type": "category", "link": "./category.html", "title": "Jogos"}'
                                                ></index-category-post>
                                            </div>
                                        </div>
                                        <!-- /tab1 -->

                                        <!-- tab2 -->
                                        <div id="tab2" class="tab-pane fade in">
                                            <div class="row">
                                                <index-category-post
                                                    data-post='{"type":"post","link":"./blog-thehobbit.html","image": "./img/TheHobbit.jpg", "date": "31 Outubro 2023", "title": "The Hobbit: As melhores cenas da franquia."}'
                                                    data-author='{"type": "author", "link": "./author.html", "name": "Felipe Erik"}'
                                                    data-category='{"type": "category", "link": "./category.html", "title": "Filmes"}'
                                                ></index-category-post>
                                            </div>
                                        </div>
                                        <!-- /tab2 -->

                                        <!-- tab4 -->
                                        <div id="tab4" class="tab-pane fade in active">
                                            <div class="row">
                                                <index-category-post
                                                    data-post='{"type":"post","link":"./blog-satoru-vs-sukuna.html","image": "./img/gojo-vs-sukuna.jpg", "date": "31 Outubro 2023", "title": "A luta dos mais fortes: Roteiro ou Lógica?"}'
                                                    data-author='{"type": "author", "link": "./author.html", "name": "Bazilisco777"}'
                                                    data-category='{"type": "category", "link": "./category.html", "title": "Animes & Mangás"}'
                                                ></index-category-post>
                                                <index-category-post
                                                    data-post='{"type":"post","link":"./blog-boanoitepunpun.html","image": "./img/boanoitecover.jpg", "date": "31 Outubro 2023", "title": "Boa noite Punpun: Crescer é aterrorizante"}'
                                                    data-author='{"type": "author", "link": "./about.html", "name": "AGNALDO DUCK"}'
                                                    data-category='{"type": "category", "link": "./category-animes.html", "title": "Animes & Mangás"}'
                                                ></index-category-post>
                                            </div>
                                        </div>
                                        <!-- /tab4 -->

                                        <!-- tab6 -->
                                        <div id="tab6" class="tab-pane fade in active">
                                            <div class="row">
                                                <index-category-post
                                                    data-post='{"type":"post","link":"./blog-dollbones.html","image": "./img/DollBones.jpg", "date": "31 Outubro 2023", "title": "Doll Bones: A morte pode brincar com você..."}'
                                                    data-author='{"type": "author", "link": "./author.html", "name": "AGNALDO_DUCK"}'
                                                    data-category='{"type": "category", "link": "./category.html", "title": "Livros"}'
                                                ></index-category-post>
                                            </div>
                                        </div>
                                        <!-- /tab6 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="./about.html">Sobre</a></li>
                </ul>
                <!-- /nav -->
            </div>
        </div>
        <!-- /Main Nav -->

        <!-- Aside Nav -->
        <div id="nav-aside">
            <ul class="nav-aside-menu">
                <li><a href="index.html">Home</a></li>
                <li class="has-dropdown"><a>Categories</a>
                    <ul class="dropdown">
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Technology</a></li>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Health</a></li>
                    </ul>
                </li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contacts</a></li>
                <li><a href="#">Advertise</a></li>
            </ul>
            <button class="nav-close nav-aside-close"><span></span></button>
        </div>
        <!-- /Aside Nav -->
    </div>
    <!-- /HEADER -->
</header>