<div class="col-md-4">
    <div class="post post-sm">
        <a class="post-img" href="{% post.link %}"><img src="{% post.image %}" alt=""></a>
        <div class="post-body">
            <div class="post-category">
                <a href="{% category.link %}">{% category.title %}</a>
            </div>
            <h3 class="post-title title-sm"><a href="{% post.link %}">{% post.title %}</a></h3>
            <ul class="post-meta">
                <li><a href="{% author.link %}">{% author.name%}</a></li>
                <li>{% post.date %}</li>
            </ul>
        </div>
    </div>
</div>